/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: #fee9f0;
}

/* APP */
.app {
  display: flex;
  justify-content: center;
  height: 100%;
}

.app__content {
  width: 430px;
  /* height: calc(100% - 100px); */
  margin: 50px;
  background: #fff;
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 30%);
  overflow: hidden;
}

/* HEAD */
.app__head {
  position: relative;
  overflow: hidden;
}

.app__head img {
  width: 100%;
  display: block;
}

.app__head::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
}

.app__head::before {
  content: "";
  width: 110%;
  height: 100px;

  background: #fff;
  position: absolute;

  bottom: -67px;
  left: -20px;
  transform: rotate(9deg);
  z-index: 1;
}

/* BODY */
.app__body {
  padding: 10px 20px 30px;
  position: relative;
}

.app__body .title {
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
}

.app__body .date {
  font-size: 0.8rem;
  padding: 13px 0;
}

/* INPUT */
#input-add {
  background: rgba(222, 57, 99, 0.6);
  border: none;
  padding: 10px 18px;
  color: #fff;
  font-size: 1rem;
  width: 93%;
  outline: none;
}

#input-add::placeholder {
  color: #fff;
}

.addTask {
  position: relative;
}

#btn-add {
  font-size: 1.3rem;
  color: #de3963;
  background: #fff;
  border: 2px solid #de3963;
  width: 43px;
  display: block;
  text-align: center;
  height: 43px;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  right: 0;
  cursor: pointer;
}

/* LISTS */
#text-toDo,
#text-done {
  color: #fa396b;
  text-align: center;
  padding: 20px 0;
  font-weight: 700;
  letter-spacing: 0.6px;
}

#text-toDo {
  padding-top: 25px;
}

.seperate__line {
  border-bottom: 1px solid #d8e5e0;
  width: 35%;
  margin: 25px auto 0;
}

#text-noToDo,
#text-noDone {
  font-size: 0.8rem;
  color: #aaa;
  text-align: center;
  letter-spacing: 1px;
}

/* FILTER */
#btn-filter,
#btn-close {
  position: absolute;
  top: -24px;
  right: 22px;
  width: 40px;
  height: 40px;
  background: #fa396b;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  z-index: 2;
}

#btn-close {
  background: #de3963;
  display: none;
}

#btn-filter--expand {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -76px;
  right: -30px;
  background: #fa396b;
  border-radius: 50%;
  z-index: 1;
  display: none;
}

#btn-filter--expand .fa {
  font-size: 1.1rem;
  color: #fff;
  position: absolute;
}

#btn-sortDown {
  left: 12%;
  top: 30%;
}

#btn-sortUp {
  left: 12%;
  bottom: 30%;
}

#btn-checkDone {
  left: 48%;
  top: 10%;
}

#btn-checkDue {
  left: 48%;
  bottom: 10%;
}

.toDo-task {
  border: 1px solid #d8e5e0;
  padding: 7px;
  border-radius: 6px;
  width: 90%;
  margin: 10px auto;
  /* overflow: auto; */
  /* display: inline-block; */
}

.toDo-task i {
  float: right;
  padding-left: 10px;
  color: #aaa;
}

.toDo-task::after {
  content: "";
  clear: both;
  display: block;
}
